<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Shop</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/52a2df029d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="header__top">
        <nav class="header__nav-box">
            <ul class="header__list-box">
                <li class="header__content">Login</li>
                <li class="header__content">Mypage</li>
                <li class="header__content">Payment</li>
            </ul>
        </nav>
        <h1 class="header__title">MY SHOP</h1>
        <ul class="header__menu">
            <li  class="header__content"><i class="fa-solid fa-magnifying-glass fa-lg"></i></li>
            <li class="header__content">
                <a href="./login.html"><i class="fa-regular fa-user fa-lg"></i></a>
                <div class="header__user-badge">
                    <span>+2000p</span>
                </div>
            </li>
            <li class="header__content header__content--badge-box">
                <div class="header__cart-badge"><span>2</span></div>
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
            </li>
            <li class="header__content"><i class="fa-solid fa-bars fa-lg"></i></li>
        </ul>
