
{{> layout/header}}
<section class="main__slider">
    <h2 class="main__slider-title">MY SHOP</h2>
    <span class="main__slider-btn">
                <i class="fa-solid fa-chevron-left fa-xl"></i>
            </span>
    <div class="main__slider-container">
        <span class="main__slider-text">STYLE IN EVERY DAY</span>
        <div class="main__slider-image-container">
            <img class="main__slider-image" src="static/img/메인사진.webp" alt="main silder image">
        </div>
        <span class="main__slider-text">FOR SPRING SET-UP</span>
    </div>
    <span class="main__slider-btn"><i class="fa-solid fa-chevron-right fa-xl"></i></span>
    <div class="main__progress-bar">
        <div class="main__progress-bar-item main__progress-bar-item--visible"></div>
        <div class="main__progress-bar-item main__progress-bar-item--invisible"></div>
        <div class="main__progress-bar-item main__progress-bar-item--invisible"></div>
    </div>
</section>

<section class="main__product-list">
    <h3 class="main__product-list-title">Best of the month</h3>
    <span class="main__product-list-sub-title">이달의 베스트 상품이에요</span>
    <!-- 베스트 상품1 시작 -->
    <div class="main__product-list-sub-container">
        <article class="main__product-list-article">
            <div class="main__article-img-container">
                <img class="main__article-img" src="./assets/귤2.jpg">
            </div>
            <div class="main__article-container">
                <h4 class="main__article-product-name">
                    고당도 귤
            </div>
            <div class="main__article-container">
                            <span class="main__article-product-description">
                                #편하게 입을 수 있음 #간편 #데일리룩
                            </span>
            </div>
            <div class="main__article-container">
                <span class="main__article-total-price">15,000원</span>
                <small class="main__article-previous-price">2,3000원</small>
                <span class="main__article-discount-rate">40%</span>
            </div>
            </h4>
        </article>
        <article class="main__product-list-article">
            <div class="main__article-img-container">
                <img class="main__article-img" src="./assets/딸기.jpeg">
            </div>
            <div class="main__article-container">
                <h4 class="main__article-product-name">
                    모먼트 베이직 슬림 무지 티셔츠
                </h4>
            </div>
            <div class="main__article-container">
                        <span class="main__article-product-description">
                            #편하게 입을 수 있음 #간편 #데일리룩
                        </span>
            </div>
            <div class="main__article-container">
                <span class="main__article-total-price">15,000원</span>
                <small class="main__article-previous-price">2,3000원</small>
                <span class="main__article-discount-rate">40%</span>
            </div>
        </article>
        <article class="main__product-list-article">
            <div class="main__article-img-container">
                <img class="main__article-img" src="./assets/사과.jpeg">
            </div>
            <div class="main__article-container">
                <h4 class="main__article-product-name">
                    모먼트 베이직 슬림 무지 티셔츠
                </h4>
            </div>
            <div class="main__article-container">
                        <span class="main__article-product-description">
                            #편하게 입을 수 있음 #간편 #데일리룩
                        </span>
            </div>
            <div class="main__article-container">
                <span class="main__article-total-price">15,000원</span>
                <small class="main__article-previous-price">2,3000원</small>
                <span class="main__article-discount-rate">40%</span>
            </div>
        </article>
        <article class="main__product-list-article">
            <div class="main__article-img-container">
                <img class="main__article-img" src="./assets/키위.jpg">
            </div>
            <div class="main__article-container">
                <h4 class="main__article-product-name">
                    모먼트 베이직 슬림 무지 티셔츠
                </h4>
            </div>
            <div class="main__article-container">
                        <span class="main__article-product-description">
                            #편하게 입을 수 있음 #간편 #데일리룩
                        </span>
            </div>
            <div class="main__article-container">
                <span class="main__article-total-price">15,000원</span>
                <small class="main__article-previous-price">2,3000원</small>
                <span class="main__article-discount-rate">40%</span>
            </div>
        </article>
    </div>

</section>
{{> layout/footer}}

</body>
</html>