{{> layout/header}}

<section class="product-list-detail">
    <!-- 베스트 상품1 시작 -->
    <div class="product-list-detail--layout">
        <div class="product-item__img--detail">
            <img class="product-item__img--detail--1" src="../../img/귤.jpg">
        </div>
        <article class="product-item">
            <div class="product-item__title">
                <h4 class="product-item__title--main">
                    고당도 귤</h4>
            </div>
            <div class="product-item__sub-title">
                            <span class="product-item__description">
                                #편하게 입을 수 있음 #간편 #데일리룩
                            </span>
            </div>
            <div class="product-item__price">
                <span class="product-item__price--current">15,000원</span>
                <small class="product-item__price--original">2,3000원</small>
                <span class="product-item__price--discount">40%</span>
            </div>

            <div class="quantity-container">
                <label>수량:</label>
                <button  class="quantity" type="button" onclick="changeQuantity(-1)">-</button>
                <input class="quantity" type="number" id="quantity" name="quantity"
                       value="1" min="1" style="width:50px" readonly>
                <button  class="quantity" type="button" onclick="changeQuantity(1)">+</button>
                <p>총 가격:  00원</p>
            </div>

            <button class= "payment-btn" type="submit">결제하기</button>

        </article>
    </div>
</section>

{{> layout/footer}}